footer {
    background-color: $colorFont3;
    height: 433px;
    padding:27px;
    display: flex;
    gap: 27px;
    flex-direction: column;
}


.div-fotter {
    display: FLEX;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

.div-fotter a  {
    color: $colorFont4;
    font-family: $fontText2;
    font-size: 16px;
}

.div-fotter p {
    font-size: 14px;
    color: $colorFont4;
    font-family: $fontText2;

}