.historias {
    color: $colorFont;
    font-family: $fontText1;
    padding-top: 34px;
    padding-bottom: 10px;
    font-size: 14px;
}

.tienda {
    height: 376px;
    margin-left: 13px;
    gap:10px;
} 

.parrafo {
    color: $colorFont3 ;
    padding-top: 20px;
    padding-bottom: 52px;
    width: 290px;
    height: 181px;
    margin: 10px 0 42px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
}

.tutienda{
        font-family: $fontText1;
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        display: flex;
        
}

.Comprar{
    width: 125px;
    font-size: 20px;
    color: $colorFont;
    font-family: $colorLink1;
    margin-left: 45px;
}
.divclass{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 160px;
    height: 45px;
    display: inline-block;
    border-radius: 22.5px ;
    border: 2.5px solid;
    border-color: $colorFont;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {

    .Comprar {
            width: 160.4px;
            height: 45.4;
            margin-left: 80px;
 
       }
    .historias{
        font-size: 16px;
    
    }
    .tutienda{
        font-size: 32px;
    }
    .parrafo{
        font-size: 20px;
         
    }
}