<div class="cole">
    <div class="tituloCole">
        <h4 class="preparalos">¡Prepáralos con tus marcas favoritas!</h4>
        <h1 class="vueltaAlCole">VUELTA AL COLE</h1>
    </div>
    <div class=vuelta-fotos>
        <div class="div-foto-cole">
            <img class="fotoss" src="images/lpbts-mod05-img01-desk.png" alt="foto niña con una mochila">
             <h4>Mochilas escolares</h4>
        </div>

        <div class="div-foto-cole">
            <img class="fotoss" src="images/lpbts-mod05-img04-mob.png" alt="foto niño jugando con su lapizero">
            <h4>Estuches</h4>
        
        </div>

        <div class="div-foto-cole">
            <img class="fotoss" src="images/lpbts-mod05-img03-mob.png" alt="foto niña con una mochila 2">
            <h4>Bolsas de deporte</h4>
        </div>
    </div>
    <div class="empezar">
        <a  class="botonempezar" href="https://adalab.es/">Empezar ahora</a>
    </div>
</div>