<footer class="footer">

<div class="arrow">
    <a href="/cole.html">
        <img src="images/ico-arrow.svg" alt="flecha hacia abajo que va al menu de la tienda">
    </a>
</div>

<div class="div-fotter">
    <a href="https://adalab.es/" target="_blank">ZAPATILLAS</a>
    <a href="https://adalab.es/" target="_blank">ROPA</a>
    <a href="https://adalab.es/" target="_blank">NIÑO/A</a>
    <a href="https://adalab.es/" target="_blank">DESTACADOS</a>
    <a href="https://adalab.es/" target="_blank">TIPS</a>
</div>

<div class="div-fotter">
    <a href="https://adalab.es/" target="_blank">TWITTER</a>
    <a href="https://adalab.es/" target="_blank">INSTAGRAM</a>
    <a href="https://adalab.es/" target="_blank">YOUTUBE</a>

</div>

<div class="div-fotter">
    <p>© 2023</p>
    <p>We 💚 run</p>
</div>

</footer>